.env_Al_DS/

*.pyc
__pycache__/

# eigen instance folder met config.py locaal om niet data database online te delen
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

commands.txt